#chat_window {
    /*background-image: url('bg1.jpeg');
    background-size: 2000px; 
    background-repeat: no-repeat;
    background-position: center;*/ 
    background-color: rgb(233, 219, 245);
}


/*-------------------*/

#send_message_button:hover {
    background-size: 60px;
    opacity: 0.95;
}

#send_message_button:active{
    background-image: url('star_inactive (1).png');
    opacity: 0.97;    
}

#send_message_button {
    opacity: 0.7;
    background-image: url('star_active (1).png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: unset;
    border: unset;
}


/*-------------------*/

#textview_focus_in {
    opacity: 0.95;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-radius: 30px;
    /*border-width: 5px;
    border-color: black;*/
    background-color: rgb(252, 230, 255);
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}


#textview_focus_in text {
    background-color: transparent;
    color: rgb(0, 0, 0);
}


#textview_focus_out {
    opacity: 0.5;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-radius: 30px;
    /*border-width: 5px;
    border-color: black;*/
    background-color: rgb(240, 194, 220);
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}


#textview_focus_out text {
    background-color: transparent;
    color: rgb(0, 0, 0);
}

/*-------------------*/
#username_label_1{
    font-size: 12px;
    font-family: Courier;
    padding: 1px;
    color: rgb(70, 3, 91);
}
#username_label_2{
    font-size: 12px;
    font-family: Courier;
    padding: 1px;
    color: rgb(184, 15, 156);
}
#username_label_3{
    font-size: 12px;
    font-family: Courier;
    padding: 1px;
    color: rgb(28, 8, 160);
}
#username_label_4{
    font-size: 12px;
    font-family: Courier;
    padding: 1px;
    color: rgb(0, 0, 0);
}

#message_label_right {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    color: rgb(34, 4, 69);
    border-radius: 10px 0px 10px 10px;
    background-color: rgb(177, 143, 232);
}

#message_label_left {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(51, 4, 70);
    padding: 5px;
    border-radius: 0px 10px 10px 10px;
    background-color: rgb(202, 150, 233);
}


/*-------------------*/


#edit_and_delete_message_button:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px rgba(70, 5, 82, 0.468);
    background-color: rgba(182, 134, 223, 0.502);
    opacity: 0.95;
}

#edit_and_delete_message_button:active{
    color: whitesmoke;
    background-color: rgb(255, 249, 249);
    opacity: 0.95;
}

#edit_and_delete_message_button {
    background-color: rgba(110, 64, 125, 0.564);
    opacity: 0.9;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px #ffffff;
    box-shadow: unset;
    border-width: 0px;
}



/*-------------------*/


#more_menubutton:hover {
    background-size: 30px;
    opacity: 0.95;
}

#more_menubutton:active{
    background-image: url('more_unactive.png');
    opacity: 0.97;    
}

#more_menubutton {
    opacity: 0.7;
    background-image: url('more_active.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: unset;
    border: unset;
}


/*-------------------*/


#find_entry {
    background-color: rgb(235, 215, 247);
    /*border-color:rgb(115, 69, 148);*/
    color: rgb(33, 1, 46);
    font-family: monospace;
}


/*-------------------*/

#settings_popovermenu {
    background-color: unset;
    box-shadow: unset;
    border: unset; 
}


/*-------------------*/

#create_chat_button:hover {
    background-image: url('add_active.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left;
    color: rgba(188, 123, 240, 0.79);
    text-shadow: 0px 0px 3px rgb(215, 232, 252);
    background-color: rgb(255, 249, 249);
    opacity: 0.95;
}

#create_chat_button:active{
    padding: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(204, 176, 232);
    opacity: 0.95;
}

#create_chat_button {
    background-image: url('add_active.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgba(135, 58, 174, 0.803);
    opacity: 0.797;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(248, 248, 248);
    text-shadow: 0px 0px 3px #291739a7;
    border-radius: 10px;
    box-shadow: unset;
    border-width: 0px;
}


/*-------------------*/


#exit_button:hover {
    background-image: url('logout_active.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left;
    color: rgba(188, 123, 240, 0.79);
    text-shadow: 0px 0px 3px rgb(215, 232, 252);
    background-color: rgb(255, 249, 249);
    opacity: 0.95;
}

#exit_button:active{
    padding: 7px;
    color: rgb(255, 255, 255);
    background-color: rgb(204, 176, 232);
    opacity: 0.95;
}

#exit_button {
    background-image: url('logout_active.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgba(135, 58, 174, 0.803);
    opacity: 0.797;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(250, 250, 250);
    text-shadow: 0px 0px 3px #5e80f1;
    border-radius: 10px;
    box-shadow: unset;
    border-width: 0px;
}


/*-------------------*/


/* #stacksidebar needs-attention{
    border-width: 5px;
    border-color: rgb(200, 0, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(198, 118, 255);
    opacity: 0.95;
} */



/*-------------------*/


#entry_with_error {
    border-color: rgb(255, 0, 0);
    opacity: 0.9;
    border-width: 2px;
}


/*-------------------*/


#label_for_aries {
    background-image: url('ZODIAC/Aries.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_taurus {
    background-image: url('ZODIAC/Taurus.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_gemini {
    background-image: url('ZODIAC/Gemini.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_cancer {
    background-image: url('ZODIAC/Cancer.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}


#label_for_leo {
    background-image: url('ZODIAC/Leo.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_virgo {
    background-image: url('ZODIAC/Virgo.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_libra {
    background-image: url('ZODIAC/Libra.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_scorpio {
    background-image: url('ZODIAC/Scorpio.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_sagittatius {
    background-image: url('ZODIAC/Sagittarius.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_capricorn {
    background-image: url('ZODIAC/Capricorn.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_aquarius {
    background-image: url('ZODIAC/Aquarius.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_pisces {
    background-image: url('ZODIAC/Pisces.png');
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_astro {
    background-image: url('Astro2.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
}

#label_for_prediction {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(92, 5, 121);
    text-shadow: 0px 0px 3px rgb(148, 191, 238);
}


/*-------------------*/


#message_time_label {
    font-size: 9px;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    color: rgb(0, 0, 0);
}


/*-------------------*/


#editing_label {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(205, 202, 252);
}

#editing_textview {
    opacity: 0.95;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-radius: 30px;
    border-width: 5px;
    border-color: black;
    background-color: rgb(205, 202, 252);
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}


#editing_textview text {
    background-color: transparent;
}


/*-------------------*/

button:hover {
    border-radius: 50px;
    color: rgb(255, 243, 243);
    background-image: unset;
    opacity: 0.95;
}

button:active{
    color: rgb(255, 255, 255);
    opacity: 0.97;
    background-image: unset;        
}

button {
    opacity: 0.797;
    background-image: unset;
    font-family: fantasy;
    font-size: 13px;
    color: rgb(227, 209, 245);
    text-shadow: 0px 0px 3px rgb(58, 33, 79);
    border-radius: 20px;
    box-shadow: unset;
    border-width: 0px;
}

/*-------------------*/

#chatname_scrolledwindow {
    border-top: unset;
    border-bottom: unset;
    border-left: unset;
    border-right-width: 2px;
    border-top-right-radius: 20px;
    border-right-color: rgb(255, 255, 255);
    background-color: rgba(172, 125, 238, 0.954);
}